<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" asp-controller="Employees" asp-action="Index">List</a></li>
                <li class="navbar-item"><a class="navbar-link" asp-controller="Employees" asp-action="Create">Create</a></li>
            </ul>
        </div>
    </nav>
    <section class="container">
        <partial name="_InfoBox" model="DateTime.Now" />
        <h1>Awesome EMS</h1>
        @RenderBody()
    </section>
    <footer class="footer">Built with MVC.NET - Skeleton.CSS and more!</footer>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
