.App {
  text-align: center;
}

.App-header {
  background-color: #047364;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.News {
  background-color: #e7f6ed;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  margin-bottom: 1vh;
}

.NewsChildren{
  background-color: lightgray;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}