@model THEDogApp.Web.Models.Dog

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css%22%3E"/>
</head>
<body>
    <form method="post">
        <label name="Name">Name: </label>
        <input type="text" name="Name" />
        <label name="Age">Age: </label>
        <input type="text" name="Age" />
        <button type="submit">Create Dog</button>
    </form>
</body>
</html>
